.container {
    border: solid black 1px;
    display: flex; 
    
    justify-content: space-evenly; 
}

.Juan {

    border: solid orange 2px;
}

.Miguel {

    border: solid red 2px;
}

.Berik {

    border: solid teal 2px;
}

img {
    height: 50vh;
    width: 100vh;
}